*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: #ecf2f8;
    font-family: 'Barlow Semi Condensed', sans-serif;
}
#testimonial-grid-container{
    padding: 5% 3%;
    width: 80%;
}
.grid-item{
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 1px 1px 5px 2px rgba(0,0,0,0.2);
    font-size: 1.2rem;
}
#testimonialone{
background-color: #7541c8;
color: #ffffff;
position: relative;
}
#quote{
    position: absolute;
    right: 15%;
    top: 0px;
}
#testimonialtwo{
background-color: #48556a;
color: #ffffff;
}
#testimonialthree{
background-color: #ffffff;
}
#testimonialfour{
background-color: #19212e;
color: #ffffff;
}
#testimonialfive{
background-color: #ffffff;
}
.header{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.header img{
    border-radius: 50%;
    margin-right: 10px;
    border: 2px solid #7541c8;
}
.grid-item h3{
    margin-bottom: 20px;
    font-weight: 600px;
}
.header .text{
    opacity: 70%;
    font-size: 12px;
}
@media (min-width: 576px) {
    #testimonial-grid-container{
        display: flex;
        max-width: 900px;
        margin: 0 auto;
    }
    #testimonialfive{
        flex-basis: 30%;
    }
    #main-left{
        display: flex;
        flex-direction: column;
        flex-basis: 70%;
    }
    #top{
        display: flex;
        flex-basis: 50%;
    }
    #bottom{
        display: flex;
        flex-basis: 50%;
    }
    #testimonialone,#testimonialfour{
        flex-basis: 65%;
        }
    #testimonialtwo,#testimonialthree{
        flex-basis: 35%;
        }
    #main-left .grid-item{
        margin-right: 15px;
    }
}